@model Vidly.ViewModels.RandomMovieViewModel


@*@model Vidly.Models.Movie*@



@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 3 ? "popular" : null; 
}

@*
    <h2 class="">@Model.Customers.Count</h2>
*@


<h2 class="@className">@Model.Movie.Name</h2>

@*<h2 class="">@Model.Name</h2>*@


<h2>List Of Customers</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}

else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}